<div class="c-header">
    <h3>{{title}}</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-3">
            <div class=""> 
                <button class="btn btn-info rounded-0 float-right" type="button" (click)="onNavigateTo(CRUD.NEW, '')">Create New Assignment</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
            <!--<div *ngIf="statusMsg.isEnabled">
                <app-inline-alert [msg]="statusMsg.msg" [type]="statusMsg.type" (action)="onClose($event)" ></app-inline-alert>
            </div>-->
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
                 <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="5%">S.No</th>
                        <th width="15%">Associate Name</th>
                        <th width="18%">Client Name</th>
                        <th width="5%">Rate</th>
                        <th width="5%">Unit</th>
                        <th width="10%">Invoice Term</th>
                        <th width="10%">Payment Term</th>
                        <th width="10%">Created Date</th>
                        <th width="10%">Assignment Start Date</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngIf="allAssignments && allAssignments.length > 0">
                        <tr *ngFor="let item of allAssignments;index as i">
                                <td>{{item.ID}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.clientName}}</td>
                                <td>{{item.rate}}</td>
                                <td>{{item.unit}}</td>
                                <td>{{item.invoiceTerm}}</td>
                                <td>{{item.paymentTerm}}</td>
                                <td>{{item.assignmentDt}}</td>
                                <td>{{item.assignStartDate}}</td>
                                <td>
                                    <a href="javascript:void(0)" title='View Record' class="px-2" data-toggle='tooltip' (click)="onNavigateTo(CRUD.VIEW,item)"><span class='fa fa-eye'></span></a>
                                    <a href="javascript:void(0)" title='Update Record' class="px-2" data-toggle='tooltip' (click)="onNavigateTo(CRUD.EDIT, item)"><span class='fa fa-pencil'></span></a>
                                    <a href="javascript:void(0)" title='Delete Assignment' class="px-2" data-toggle='tooltip' (click)="onNavigateTo(CRUD.DELETE,item)"><span class='fa fa-trash'></span></a>
                                </td>
                            </tr>
                    </ng-template>
                    <ng-template ngIf="sizeOfAllAssignments() === 0">
                        <tr>
                            <td colspan="10"><div class="text-center" >No Data available</div></td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>-->
            <app-grid [options]="options"></app-grid>
        </div>
    </div>
</div>
