<div class="c-header">
        <h3>{{title}}</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-3">
            <h5>{{subTitle}}
                <a href="#" routerLink="/layout/adm-compen" class="float-right">BACK</a>
            </h5>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
           <div *ngIf="operationType === CRUD.NEW">
                <form class="form adm-compen-form" appValidate #adminCompenNewForm="ngForm" novalidate>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                <em class="required-field">*</em>Associae Name
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" type="text" value="" name="associateName" id="associateName" #associateName="ngModel" [(ngModel)]="compensation.associateName"
                                autocomplete="off" placeholder="Associate Name" data-efield="Associate Name" MaxLength="25" required (ngModelChange)="onAssociateNameChange($event)">
                            <div class="error"></div>
                            <div id="associateList" class="autocomplete" *ngIf="associatesList && associatesList.length >0 ">
                                <ul class="autocomplete-items">
                                    <li *ngFor="let associative of associatesList;let idx=index;">
                                        <a href="javascript:void(0)" (click)="selectAssociativeId(associative)">{{associative.FirstName + ' ' + associative.LastName}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <label for="middleName" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                <em class="required-field">*</em>Percentage
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" type="text" value="" name="percentage" id="percentage" #percentage="ngModel" [(ngModel)]="compensation.percentage"
                            autocomplete="off" placeholder="XX.XX" data-efield="Percentage" pattern="^([1-9]([0-9])?|0)(\.[0-9]{1,2})?$" MaxLength="12" required>
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                            <em class="required-field">*</em>Mrkt Exp
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" numberOnly type="text" value="" name="mrktExp" id="mrktExp" #mrktExp="ngModel" [(ngModel)]="compensation.mrktExp"
                            autocomplete="off" placeholder="XX.XX" data-efield="MrktExp" MaxLength="12" required>
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <input type="hidden"  name="associateID" id="associateID" #associateID="ngModel" [(ngModel)]="compensation.associateID" />
                            <button type="button" (click)="compenNewFormSubmit(adminCompenNewForm)" class="btn rounded-0 float-right mx-2" ngClass="{{adminCompenNewForm.valid?'btn-primary':'btn-default disabled'}}">Submit</button>
                            <button type="button" class="btn btn-default rounded-0 float-right" (click)="compensationCancel()">Cancel</button>
                        </div>
                    </div>
                </form>
           </div>
           <div *ngIf="operationType === CRUD.EDIT">
                <form class="form adm-compen-form" appValidate #adminCompenEDITForm="ngForm" novalidate>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                <em class="required-field">*</em>Associae Name
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" type="text" value="" name="associateName" id="associateName" #associateName="ngModel" [(ngModel)]="compensation.associateName"
                                autocomplete="off" placeholder="Associate Name" data-efield="Associate Name" MaxLength="25" required (ngModelChange)="onAssociateNameChange($event)" readonly="true">
                            <div class="error"></div>
                            <div id="associateList" class="autocomplete" *ngIf="associatesList && associatesList.length >0 ">
                                <ul class="autocomplete-items">
                                    <li *ngFor="let associative of associatesList;let idx=index;">
                                        <a href="javascript:void(0)" (click)="selectAssociativeId(associative)">{{associative.FirstName + ' ' + associative.LastName}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <label for="middleName" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                <em class="required-field">*</em>Percentage
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" type="text" value="" name="percentage" id="percentage" #percentage="ngModel" [(ngModel)]="compensation.percentage"
                            autocomplete="off" placeholder="XX.XX" data-efield="Percentage" pattern="^([1-9]([0-9])?|0)(\.[0-9]{1,2})?$" MaxLength="12" required>
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                            <em class="required-field">*</em>Mrkt Exp
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-0">
                            <input class="form-control" numberOnly type="text" value="" name="mrktExp" id="mrktExp" #mrktExp="ngModel" [(ngModel)]="compensation.mrktExp"
                            autocomplete="off" placeholder="XX.XX" data-efield="MrktExp" MaxLength="12" required>
                            <div class="error"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <input type="hidden"  name="associateID" id="associateID" #associateID="ngModel" [(ngModel)]="compensation.associateID" />
                            <input type="hidden"  name="ID" id="ID" #ID="ngModel" [(ngModel)]="compensation.ID" />
                            <button type="button" (click)="compenNewFormSubmit(adminCompenEDITForm)" class="btn rounded-0 float-right mx-2" ngClass="{{adminCompenEDITForm.valid?'btn-primary':'btn-default disabled'}}">Submit</button>
                            <button type="button" class="btn btn-default rounded-0 float-right" (click)="compensationCancel()">Cancel</button>
                        </div>
                    </div>
                </form>
           </div>
           <div *ngIf="operationType === CRUD.VIEW">
                <form class="form adm-compen-form" appValidate #adminCompenNewForm="ngForm" novalidate>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                Associae Name
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-2">
                            {{compensation.associateName}}
                        </div>
                        <label for="middleName" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                Percentage
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-2">
                            {{compensation.percentage + '%'}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                            Mrkt Exp
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-2">
                            {{compensation.mrktExp}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="assoc" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                LAST Modified BY
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-2">
                            {{compensation.ModifiedName || 'NA'}}
                        </div>
                        <label for="middleName" class="col-sm-3 col-md-3 col-xl-3 col-lg-3 col-form-label text-right">
                                Modified Date
                            <span class="pl-2">:</span>
                        </label>
                        <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 p-2">
                            {{compensation.ModifiedDate || 'NA'}}
                        </div>
                    </div>
                </form>
           </div> 
        </div>
        <div class="col-1"></div>
    </div>
</div>
