<div class="c-header">
    <h3>{{title}}</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-3">
            <div class=""> 
                <button class="btn btn-info rounded-0 float-right" type="button" (click)="onNavigateTo(CRUD.NEW, '')">Create New Associate</button>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
            <app-inline-alert [msg]="statusMsg.msg" [type]="statusMsg.type" (action)="onClose($event)" *ngIf="statusMsg.isEnabled"></app-inline-alert>
        </div>
    </div> -->
    <div class="row">
            <div class="col-md-12">
                <!---<table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Associate Name</th>
                            <th>Associate Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngIf="associates && associates.length>0">
                            <tr *ngFor="let item of associates;index as i">
                                    <td>{{item.ID}}</td>
                                    <td>{{item.FirstName + '' + item.LastName}}</td>
                                    <td>{{item.AssociateType}}</td>
                                    <td>
                                        <a href="javascript:void(0)" title='View Record' class="px-3" data-toggle='tooltip' (click)="onNavigateTo(CRUD.VIEW,item)"><span class='fa fa-eye'></span></a>
                                        <a href="javascript:void(0)" title='Update Record' class="px-3" data-toggle='tooltip' (click)="onNavigateTo(CRUD.EDIT, item)"><span class='fa fa-pencil'></span></a>
                                        <a href="javascript:void(0)" title='Delete Associate' class="px-3" data-toggle='tooltip' (click)="onNavigateTo(CRUD.DELETE,item)"><span class='fa fa-trash'></span></a>
                                    </td>
                                </tr>
                        </ng-template>
                        <ng-template ngIf="!associates || associates.length === 0">
                            <tr>
                                <td colspan="4"><div class="text-center" >No Data available</div></td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table> -->
                <app-grid [options]="options"></app-grid>
            </div>
        </div>
</div>